
.navMenu {
    display: flex;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link a{
    color: #323232;
    text-decoration: none;
    font-size: 20px;
}

.link a:active{
    color: black;
    background-color: #ae61eb;
}

.link{
    padding: 7px 5px;
    transition: all 0.3s;
}

.link:hover{
    background-color: #ae61eb;
}