.slogan {
    composes: background from "../App.css";
    min-height: 350px;
    background-color: #ffe2ea;
}

.container{
    composes: container from "../App.css";
    /*border: 1px solid black;*/
    justify-content: space-between;
    height: 70%;
}

.container h2 {
    text-align: center;
    color: #404040
}


