.slogan {
    height: 250px;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border: 1px solid;
    justify-content: space-between;
    height: 60%;
}

.container h2 {
    text-align: center;
}
