.contacts {
    composes: background from "../App.css";
}

.container {
    composes: container from "../App.css";
    margin: 60px 0;
   /* border: 1px solid white;*/
}

.header h2 {
    color: #DEABD4;
}
