button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    outline: none;
    border: 3px solid #646464;
    font-size: 20px;
    font-family: 'Marmelad', sans-serif;
    cursor: pointer;
}

.button{
    margin: 20px;

}

.light  {
    background-color: #77435a;
    color: white;
}

.dark  {
    background-color:  #ffe2ea;
    color: #292929;
}

.clicked{
    background-color: #131112;
    color: white;
}
