form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    margin: 20px;
 /*   border: 1px solid #ffaeae;*/
    justify-content: space-between;

}

textarea {
    height: 90px;
    margin: 5px;
    border-radius: 15px;
    resize: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
}

input{
    margin: 5px;
    height: 30px;
    min-width: 100px;
    border-radius: 15px;
    resize: none;
    outline: none;
    padding:  0px 15px;
    font-size: 16px;
}

@media screen and (max-width: 740px ) {
    form {
        width: 85%;
    }
}