.skills {
    height: 100vh;
    background-color: #474680;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
}

.header {
    border: 1px solid black;
    height: 150px;
    color: #de1508;

}

.photo img {
    width: 150px;
    height: 150px;
    background-color: #696969;
}

.blockSkills {
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.skill {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}