.main {
    height: 100vh;
    background-color: #010051;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.greeting{
    display: flex;
    flex-direction: column;
    color: white;
}

.photo {
    width: 250px;
    height: 300px;
    background-color: dimgray;
}

