.main {
    composes: background from "../App.css";
    padding: 100px 0px;
}


.container {
 /*   border: 1px solid black;*/
    composes: container from "../App.css";
    flex-direction: row;
    flex-wrap: wrap;
}
.greeting{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 30px;
    z-index: 0;
}

.greeting span:nth-child(1){
    font-size: 16px;
}

.greeting span:nth-child(2), .greeting span:nth-child(2) span{
    font-weight: 700;
    font-stretch: normal;
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Pacifico', cursive;
    letter-spacing: 5px;
    position: relative;
}

.greeting span:nth-child(2) span:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #ff7fc0;
    bottom: 0px;
    z-index: -1;
    border-radius: 4px;
}


h1{
    font-size: 27px;
    font-weight: normal;
}

.photo {
    margin: 30px;
    position: relative;
    z-index: 1;
}

.image{
    width: 250px;
    height: 300px;
    background-color: dimgray;
    border-radius: 10px;
}

.photo .image:before{
    content: "";
    position: absolute;
    height: 330px;
    width: 250px;
    border: 5px solid  #ff7fc0;
    left: 15px;
    top: -20px;
    z-index: -1;
    border-radius: 10px;
}

@media screen and (max-width: 654px ) {
    .greeting span:nth-child(2) span:before{
        width: 140%;
        left: -62px;
    }
}
@media screen and (max-width: 400px ) {
    .photo .image:before{
        left: -25px;
    }
    .image{
        width: 240px;
        height: 290px;
        background-color: dimgray;
    }
}
