.main {
    height: 100vh;
    background-color: #ffe185;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.greeting{
    display: flex;
    flex-direction: column;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: dimgray;
}

