.header {
    /*  border: 1px solid black;*/
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 10px;
    font-size: 30px;
    margin: 30px 0 0 0;
    padding: 0;
    position: relative;
}

.animation{
    position: absolute;
}
.header .animation:nth-child(1){
    left: -60px;
}

.header .animation:nth-child(2){
    right: -60px;
}
.animation>div{
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 15px;
    background-color: #131112;
}
@keyframes animLeftRight {
    0%{
        transform: translateX(30px) scale(2);
        opacity: 1;
    }
    100%{
        transform: translateX(-30px);
        opacity: 0.5;
    }
}

@keyframes animRightLeft {
    0%{
        transform: translateX(-60px);
        opacity: 1;
    }
    100%{
        transform: translateX(30px) scale(2);
        opacity: 0.5;

    }
}

.animation .d1{
    animation: animLeftRight 3s alternate ease infinite;
    background: linear-gradient(pink, blue);
}
.animation .d2{
    background: linear-gradient(#b44bff, #3d3cff);
}

.animation .d2 {
    animation: animRightLeft  3s alternate ease infinite;
}

h2 {
    margin: 5px;
}

.line{
    height: 3px;
    width: 60px;
    margin: 30px 0;
    border-radius: 3px;

}


.light.header{
    color: #404040;
}

.light .line{
    background-color: #010051;
}

.dark .line{
    background-color: #ff7fc0;
}

.dark.header{
    color: #DEABD4;
}

@media screen and (max-width: 521px ) {
    .header{
        min-height: 220px;
    }
}

@media screen and (max-width: 614px ) {
    .header{
        font-size: 25px;
    }
    .header .animation:nth-child(1){
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 390px ) {
    .header{
        font-size: 15px;
    }
}


@media screen and (max-width: 880px ) {
    .header .animation:nth-child(1){
        top: -10px;
        left: inherit;
    }

    .header .animation:nth-child(2){
        bottom: -10px;
        right: inherit;
    }
    .animation{
        display: flex;
    }
    .animation .d1{
        animation: animUpDown 2s alternate ease infinite;
    }
    .animation .d2{
        animation: animDownUp 2s alternate ease infinite;
    }


    @keyframes animUpDown {
        0%{
            transform: translateY(-25px);
        }
        100%{
            transform: translateY(5px) scale(0.5);
        }
    }

    @keyframes animDownUp {
        0%{
            transform: translateY(5px) scale(0.5);
        }
        100%{
            transform: translateY(-25px);
        }
    }
}