.footer {
    composes: background from "../App.css";
    min-height: 300px;
    background-color: #ffe2ea;
    position: relative;
}

.header {
    color: #404040;
}
.header h2{
    transition: all 1s;
}
.header h2:hover{
    text-shadow: 35px 25px 5px darkblue, -35px -25px 5px #a256ff;
    color: #131112;
}


.copyright{
    color: #404040;
    text-align: center;
    font-size: 12px;
}

.container {
/*    border: 1px solid black;*/
    composes: container from "../App.css";
    height: 90%;
    justify-content: space-between;
}

.socialNetworks {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.myPage img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50px;
    transition: all 0.5s;
}

.myPage img:hover{
    transform: scale(1.30);
    box-shadow: 0 0 40px 15px #0005eb;
    cursor: url("../assets/Photo/cursorPointer.png"), auto;
}



@media screen and (max-width: 500px ) {
    .myPage img {
        width: 60px;
        height: 60px;
    }

}