.footer {
    composes: background from "../App.css";
    min-height: 300px;
    background-color: #ffe2ea;
}

.header {
    color: #404040;
}

.copyright{
    color: #404040;
    text-align: center;
}

.container {
/*    border: 1px solid black;*/
    composes: container from "../App.css";
    height: 90%;
    justify-content: space-between;
}

.socialNetworks {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.myPage img {
    width: 100px;
    height: 100px;
    margin: 10px;

}



@media screen and (max-width: 500px ) {
    .myPage img {
        width: 60px;
        height: 60px;
    }

}