.projects {
    composes: background from '../App.css';
    position: relative;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    text-align: center;

    composes: container from '../App.css';
    /*    border: 1px solid black;*/
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /*    border: 1px solid black;*/

    height: 100px;

    color: #deabd4;
}

.blockProjects {
    display: flex;
    /* border: 1px solid #ffffff;*/
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;
    margin: 0 0 30px 0;
}


.project {
    /*   border: 1px solid black;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 380px;
    min-height: 360px;
    margin: 20px;
    margin-bottom: 35px;

    color: white;


    /*    background-color: rgba(1, 0, 127, 0.71);*/
}

.project h2 {
    color: #deabd4;
    font-size: 25px;
    transition: all 1s;
}
.project h2:hover{
    text-shadow: -65px 25px 5px palegoldenrod, 65px -25px 5px lightblue;
    color: white;
}
.imageWrapper{
  /*  border: 5px solid red;*/
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 15px;
}

.button {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 9;
}

.image:hover{
    filter: blur(3px) brightness(0.5);
    transform: scale(1.3);
    box-shadow: inset 30px 30px 100px black;
}
.image:hover .button{
    filter: none;
}
.project .image {
    width: 100%;
    height: 100%;

    border-radius: 15px;
    background-color: #696969;
    background-position: center;
    background-size: 250px;
    transition: all 1s;
}



.description {
    padding: 15px;
    font-size: 18px;
    transition: all 1s;
    color: #deabd4;
}

.description:hover{
    color: #ffecff;
    background-color: rgba(255, 235, 244, 0.28);
    border-radius: 60px;
}

@media screen and (max-width: 700px ) {
    .blockProjects {
        justify-content: space-evenly;
    }
    .container{
        margin-top: 50px;
    }

    .project .imageWrapper {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 400px ) {
    .project .imageWrapper {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 430px ) {
    .project {
        width: 250px;
        min-height: 300px;
    }
}
