.projects {
    min-height: 100vh;
    background-color:#010051;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    align-items: stretch;
    text-align: center;
    display: flex;
    border: 1px solid;
    flex-direction: column;
}

.header {
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #de1508;
}

.blockProjects {
    display: flex;
    justify-content: space-evenly;
    min-height: 80%;
    flex-wrap: wrap;
    align-items: center;
}

.project{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 360px;
    min-width: 230px;
    color: white;
    margin: 20px;
}

.project img {
    width: 150px;
    height: 150px;
    background-color: #696969;
}


